<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stock</title>
<link rel="stylesheet" href="css/test.css">
</head>
<body>
	<span class="testing" th:text="${applicationName}"></span>
	
	<div><a href="/company/manage">Company</a></div>
	<div><a href="/designation/manage">Designation</a></div>
	<div><a href="/user/manage">User</a></div>
	<div><a href="/employee/manage">Employee</a></div>
	<div><a href="/customer/manage">Customer</a></div>
	<div><a href="/vendor/manage">Vendor</a></div>
	<div><a href="/product/manage">Product</a></div>
	<div><a href="/vairiant/manage">Variant</a></div>
	<div><a href="/sales/create">Sales</a></div>
	<div><a href="/purchase/create">Purchase</a></div>
</body>
</html>